@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);

h1 {
	font-family:'Fredericka the Great', cursive;
	font-size:48px;
	color: #121212;
	border-top: 4px double #121212; 
	border-bottom: 4px double #121212;
	text-align: center;
	text-transform: uppercase;
}