@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(http://fonts.googleapis.com/css?family=Cinzel:400,700);

body {
	background:#FFFFFF;
	font-size: 8px;
}

#header {
	font-family:'Cinzel', serif;
	font-style: bold;
	font-size:4.2em;
	color: #121212;
	border: 0.2em double #000000; 
	text-align: center;
	padding: 2em;
	background: #D3EBF4;
}

#nav {
	font-family:'Cinzel', serif;
	font-size: 3em;
	text-align: center;
	padding: 2em;
	background: #F4E4D3;
	border: 0.2em double #000000; 

}

#wrapper {
	width: 80%;
	margin: 0 auto;
}
	
#contact {
	font-family:"Cinzel";
	font-size: 3em;
	text-align: center;
	padding: 2em;
	background: #D3EBF4;
	border: 0.2em double #000000;
}

.blog {
	text-align: center;
	font-size: 2em;
}

img {
	max-width: 100%
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 10px;
	}

	h1 {
		font-size: 1em;
		width: auto;
		display: inline;
	}
}

@media only screen and (max-width: 320px) {
	body {
		font-size: 6px;
	}

	h1 {
		font-size: 0.7em;
		width: auto;
		display: inline;
	}

	#contact {
		display: none;
	}
}